header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
    position: fixed;
}

.container {
    display: flex;
}

body, html {
	display: flex;
    flex-direction: column;
	height: 100%;
	flex:1 0 auto;
	padding: 0;
	margin: 0;
}
nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}
