<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ShatyrEnterprise</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>MainServlet</servlet-class>
    <init-param>
      <param-name>jdbcUrl</param-name>
      <param-value>jdbc:postgresql://localhost:5432/shatyr</param-value>
    </init-param>
    <init-param>
      <param-name>dbUsername</param-name>
      <param-value>postgres</param-value>
    </init-param>
    <init-param>
      <param-name>dbPassword</param-name>
      <param-value>adminadmin1</param-value>
    </init-param>
  </servlet>
  
  <servlet>
    <servlet-name>CreatePostServlet</servlet-name>
    <servlet-class>CreatePostServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>PostDetailServlet</servlet-name>
    <servlet-class>PostDetailServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>MyPostsServlet</servlet-name>
  	<servlet-class>MyPostsServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>CreatePostServlet</servlet-name>
    <url-pattern>/create_post</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>MyPostsServlet</servlet-name>
    <url-pattern>/posts</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PostDetailServlet</servlet-name>
    <url-pattern>/post_detail</url-pattern>
  </servlet-mapping>
</web-app>